<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Login Page</title>
</head>

<body>
	<section>
		<div class="container-fluid  mt-100">
			<div class="row">

				<div class="col-md-12">

					<div class="card">
						<div class="card-header">
							<h5>About : Smart Contact Manager</h5>
						</div>
						<div class="card-body cart">
							<div class="col-sm-12 empty-cart-cls ">
								<p>

									Welcome to <b><i>Smart Contact Manager</i></b>, your one-stop solution for managing
									your contacts effortlessly on the cloud. Our platform provides you with the tools
									you need to keep your contacts organized, up-to-date, and accessible from
									anywhere.<br>
									<br>
									## Mission<br>

									Our mission is to simplify contact management for individuals and businesses,
									ensuring that you never lose track of important connections. We believe that an
									organized contact list can save you time, enhance your professional relationships,
									and boost your productivity.<br>
									<br>
									## Key Features<br>

									-> Cloud Storage: Store your contacts securely in the cloud, accessible from any
									device with an internet connection.<br>
									-> Add, Edit, and Delete: Easily add new contacts, update existing ones, and remove
									outdated information.<br>
									-> Search and Filter: Quickly find the contacts you need using powerful search and
									filtering options.<br>
									-> Collaboration: Share contact lists with colleagues or family members, enabling
									seamless collaboration.<br>
									-> Responsive Design: Enjoy a consistent experience across desktops, tablets, and
									smartphones.<br>
									<br>
									## Meet the Team<br>

									Our dedicated team of developers and designers are passionate about creating a
									seamless contact management experience. We're committed to continuously improving
									ContactCloud based on your feedback and needs.<br>
									<br>
									## Contact Us<br>

									Have questions or feedback? We'd love to hear from you! Get in touch at <a href="">
										<email>poojasahu252000@gmail.com</email>
									</a> or connect with us on https://twitter.com/contactcloudap.

								</p>
							</div>
						</div>
					</div>

					<footer>
						<p>&copy; 2023 ContactCloud. All rights reserved.</p>
					</footer>
				</div>

			</div>

		</div>

	</section>

</body>

</html>