<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Forgot Password Page</title>
</head>

<body>
	<section>
		<div id="login">
			<div class="container">
				<div id="login-row" class="row justify-content-center align-items-center mb-5">
					<div id="login-column" class="col-md-6">
						<div id="login-box" class="col-md-12 " style="height: 260px;">
							<!--Email Form-->
							<h3 class="text-center m-3">Registered Email</h3>
							<!--Message box-->
							<div th:if="${session.message}" class="container">
								<div class="alert alert-danger my-2 text-center" role="alert">
									<span th:text="${session.message}"></span>
								</div>
								<th:block th:text="${#session.removeAttribute('message')}"></th:block>
							</div>

							<form method="post" th:action="@{/send-otp}">

								<div class="form-group">
									<label for="email">Email Id</label>
									<input name="email" id="email" required type="email" placeholder="Enter email here "
										class="form-control" />
								</div>
								<div class="container text-center mt-3">
									<button class="btn bg-primary btn-info ">Send OTP</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>

</html>